src/test/resources/sanity-checks/all_pulsar.yaml
id: all_pulsar
namespace: sanitychecks.plugin-pulsar

variables:
  host: localhost
  topic: "persistent://public/default/kestra.sanity.{{ execution.id }}"

tasks:
  - id: init
    type: io.kestra.plugin.core.output.OutputValues
    values:
      broker_port: "{{ randomPort() }}"
      admin_port: "{{ randomPort() }}"

  - id: docker_start
    type: io.kestra.plugin.docker.Run
    containerImage: apachepulsar/pulsar
    entryPoint:
      - /pulsar/bin/pulsar
    commands:
      - standalone
    portBindings:
      - "{{ outputs.init.values.broker_port }}:6650"
      - "{{ outputs.init.values.admin_port }}:8080"
    wait: false

  - id: wait_pulsar
    type: io.kestra.plugin.core.flow.Sleep
    duration: PT60S

  - id: produce
    type: io.kestra.plugin.pulsar.Produce
    uri: "pulsar://{{ vars.host }}:{{ outputs.init.values.broker_port }}"
    topic: "{{ vars.topic }}"
    from:
      key: first
      value: alpha
      properties:
        source: sanity-check

  - id: wait_message
    type: io.kestra.plugin.core.flow.Sleep
    duration: PT2S

  - id: consume
    type: io.kestra.plugin.pulsar.Consume
    uri: "pulsar://{{ vars.host }}:{{ outputs.init.values.broker_port }}"
    topic: "{{ vars.topic }}"
    subscriptionName: "kestra-sanity-consume-{{ execution.id }}"
    pollDuration: PT2S
    maxDuration: PT8S

  - id: reader
    type: io.kestra.plugin.pulsar.Reader
    uri: "pulsar://{{ vars.host }}:{{ outputs.init.values.broker_port }}"
    topic: "{{ vars.topic }}"
    pollDuration: PT2S
    maxDuration: PT8S

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    conditions:
      - "{{ outputs.produce.messagesCount == 1 }}"
      - "{{ outputs.consume.uri is not null }}"
      - "{{ outputs.reader.uri is not null }}"

finally:
  - id: purge
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles

  - id: docker_stop
    type: io.kestra.plugin.docker.Stop
    containerId: "{{ outputs.docker_start.taskRunner.containerId }}"
    kill: true
