src/test/resources/sanity-checks/all_pulsar.yaml
id: all_pulsar
namespace: sanitychecks.plugins.plugin-pulsar

variables:
  topic: "persistent://public/default/kestra.sanity.{{ execution.id }}"

tasks:
  - id: produce
    type: io.kestra.plugin.pulsar.Produce
    uri: "pulsar://localhost:26650"
    topic: "{{ vars.topic }}"
    from:
      key: first
      value: alpha
      properties:
        source: sanity-check

  - id: wait_message
    type: io.kestra.plugin.core.flow.Sleep
    duration: PT2S

  - id: consume
    type: io.kestra.plugin.pulsar.Consume
    uri: "pulsar://localhost:26650"
    topic: "{{ vars.topic }}"
    subscriptionName: "kestra-sanity-consume-{{ execution.id }}"
    pollDuration: PT2S
    maxDuration: PT8S

  - id: reader
    type: io.kestra.plugin.pulsar.Reader
    uri: "pulsar://localhost:26650"
    topic: "{{ vars.topic }}"
    pollDuration: PT2S
    maxDuration: PT8S

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    conditions:
      - "{{ outputs.produce.messagesCount == 1 }}"
      - "{{ outputs.consume.uri is not null }}"
      - "{{ outputs.reader.uri is not null }}"

finally:
  - id: purge
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
